html {
	background: $white;
	color: $black;
}

a {
	color: $link-color;
}

nav {
	line-height: 30px;
	padding: 20px;
	background: $black;
	color: $white;
a {
		margin-right:50px;
	}
}

header h1 {
	background-image: url(http://galaxydancefestival.com/files/2012/05/Galaxy.jpg);
	background-size: 100%, 100%;

	a{
		color: $white;
		text-decoration: none;
	}

}





