

     <div id="about">

      <h1>Hello.</h1>

      <p>Welcome to my website and thanks for visiting. I've been loving and doing design for 11 years, and professionally for 6. I couldn't think of anything else I would be doing for a living. Most of my experience is in print but I'm learning the web more and more everyday.</p>

        <p>I'm a huge geek, seems to come with these shoes. Somewhat of a typophile, letterforms are a thing of beauty and something I obsess about. Big fan of Swiss and Scandinavian Design styles.</p>
        <p>Thanks for stopping by, I hope you enjoy your stay.</p>

        <br />
        <h2>KNOWLEDGE:</h2>
        <ul>
        <li>Adobe Creative Suite</li>
        <li>HTML [5]</li>
        <li>css [3]</li>
        <li>jquery</li>
        <li>Mac OS X</li>
        <li>Windows 7</li>
        </ul>
        <br />

        <p>You can download my r&eacute;sum&eacute; <a href="img/PatrickWitmerResume.pdf">here</a>. </p>

    </div>

