<div id="container">
	<header>
		<h1>
			<a href="#">Spaceships</a>
		</h1>
		<nav role="navigation">

			{{#link-to 'about'}}About{{/link-to}}
			{{#link-to 'spaceships'}}Spaceships{{/link-to}}

		</nav>
	</header>


	<div id="main" role="main">



	{{outlet}}




	</div>




</div>












